<!-- ==== main Container start ====-->
<div class="main-container">
    <label class="nav-input">
        <div class="toggle-btn">
            <input type="checkbox">
            <div class="toggle">
                <span class="top-line common"></span>
                <span class="middle-line common"></span>
                <span class="bottom-line common"></span>
            </div>
        </div>
        <!-- ==== Aside Start ====-->
        <div class="aside">
            <div class="logo">
                <a href="#"><span>K</span>arim</a>
            </div>
            <div class="nav-toggler">
                <span></span>
            </div>
            <ul class="nav">
                <li><a href="#home" class="active"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="#about" class="active"><i class="fa fa-user"></i>About</a></li>
                <li><a href="#myskills" class="active"><i class="fa fa-list"></i>My Skills</a></li>
                <li><a href="#projects" class="active"><i class="fa fa-briefcase"></i>Projects</a></li>
                <li><a href="#contact" class="active"><i class="fa fa-comments"></i>Contact</a></li>
            </ul>
        </div>
        <!-- ==== Aside end ====-->
    </label>
    <!-- ==== main content start ====-->
    <div class="main-content">
        <!---=== Home section start ====-->
        <section class="home section" id="home">
            <div class="container">
                <div class="row">
                    <div class="home-info padd-15">
                        <span class="hello">Hi there...</span>
                        <h3 class="my-profession">I AM <span class="typing">KARIMULLA SHAIK</span></h3>
                        <p> A Technical enthusiast looking for a role where I can apply my knowledge and enhance
                            myskills, in order to contribute
                            to organization's development. </p>
                        <a href="#projects" class="btn hire-me">My Projects</a>
                    </div>
                    <div class="home-img padd-15">
                        <img src="../assets/photos/IMG_2373.PNG" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!---=== Home section end ====-->
        <!---=== About section start ====-->
        <section class="about section" id="about">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>ABOUT <span>ME</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="about-content padd-15">
                        <div class="row">
                            <div class="about-text padd-15">
                                <h3>Hey!👋 I am a <span>Front-end Developer</span>.</h3>
                                <p> I am passionate about entering the world of websites and contributing
                                    towards making a social impact on other users. I'm Confident and
                                    a career-oriented person committed to learning and self-development.
                                </p>
                                <p>I am well versed in Angular with proficient understanding of code,
                                    angular practices including - Commonly used modules, components,
                                    Angular material, Angular Routing, Reactive forms, Services integration
                                    and Custom module creation.
                                </p>
                                <p>
                                    I have a good understanding of UI, development and related Technologies
                                    - HTML, CSS, JavaScript, Typescript along with Java, Selenium, TestNG
                                    etc. Moreover version control system - Git & GitHub.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="personal-info padd-15">
                                <div class="row">
                                    <div class="info-item padd-15">
                                        <p>Age : <span>23</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Email : <span>karimullashaik0204&#64;gmail.com</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Phone : <span>+91 9059193334</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Degree : <span>ECE</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Language : <span>English, Hindi, Telugu</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Country : <span>India</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="buttons padd-15">
                                        <a href="../assets/Resume/Karimulla-Resume.pdf" download="Karimulla-Resume"
                                            class="btn">Download Resume</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!---=== About section end ====-->
        <!---=== Myskills section Start ====-->
        <section class="myskills section" id="myskills">
            <div class="contanier">
                <div class="row">
                    <div class="section-title padd-15 myskillpad-30">
                        <h2><span>MY</span> SKILLS</h2>
                    </div>
                </div>
                <div class="skills padd-15">
                    <div class="row">
                        <div class="skill-items padd-15">
                            <h5>HTML</h5>
                            <div class="progress">
                                <div class="progress-in" style="width: 95%;"></div>
                                <div class="skill-percent">95%</div>
                            </div>
                        </div>
                        <div class="skill-items padd-15">
                            <h5>CSS</h5>
                            <div class="progress">
                                <div class="progress-in" style="width: 75%;"></div>
                                <div class="skill-percent">75%</div>
                            </div>
                        </div>
                        <div class="skill-items padd-15">
                            <h5>JAVA SCRIPT</h5>
                            <div class="progress">
                                <div class="progress-in" style="width: 70%;"></div>
                                <div class="skill-percent">70%</div>
                            </div>
                        </div>
                        <div class="skill-items padd-15">
                            <h5>Angular</h5>
                            <div class="progress">
                                <div class="progress-in" style="width: 80%;"></div>
                                <div class="skill-percent">80%</div>
                            </div>
                        </div>
                        <div class="skill-items padd-15">
                            <h5>JAVA</h5>
                            <div class="progress">
                                <div class="progress-in" style="width: 65%;"></div>
                                <div class="skill-percent">65%</div>
                            </div>
                        </div>
                        <div class="skill-items padd-15">
                            <h5>SELENIUM</h5>
                            <div class="progress">
                                <div class="progress-in" style="width: 73%;"></div>
                                <div class="skill-percent">73%</div>
                            </div>
                        </div>
                        <div class="skill-items padd-15">
                            <h5>OOPS</h5>
                            <div class="progress">
                                <div class="progress-in" style="width: 75%;"></div>
                                <div class="skill-percent">85%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!---=== Myskills section End ====-->
        <!---=== My Experience section Start ====-->
        <section class="expe section" id="experience">
            <div class="container">
                <div class="row">
                    <div class="education padd-15">
                        <div class="section-title">
                            <h2><span>MY</span> Education</h2>
                        </div>
                        <div class="row">
                            <div class="timeline-box padd-15">
                                <div class="timeline shadow-dark">
                                    <!-- ==== timeline item ====-->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-date">
                                            <i class="fa fa-calendar"></i>2018 - 2022
                                        </h3>
                                        <h4 class="timeline-title">Btech in ECE</h4>
                                        <p class="timeline-text">
                                            ⭕Bachelor of technology in Electronics and Communication Engg.
                                        </p>
                                        <p class="timeline-text">⭕ Vel Tech University, Chennai.</p>
                                        <p class="timeline-text">⭕ GPA: 7.9.</p>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-date">
                                            <i class="fa fa-calendar"></i>2016 - 2018
                                        </h3>
                                        <h4 class="timeline-title">Intermediate in MPC</h4>
                                        <p class="timeline-text">
                                            ⭕ Board Of Intermediate Education Andhra Pradesh.

                                        </p>
                                        <p class="timeline-text">⭕ Sri Gayatri Junior College, Tirupathi.</p>
                                        <p class="timeline-text">⭕ Percentage: 84%.</p>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-date">
                                            <i class="fa fa-calendar"></i>2015 - 2016
                                        </h3>
                                        <h4 class="timeline-title">Secondary School Certificate</h4>
                                        <p class="timeline-text">
                                            ⭕ Board Of Secondary Education Andhra Pradesh.
                                        </p>
                                        <p class="timeline-text">
                                            ⭕ Sri Vedavyasa High School, Mydukur, kadapa.
                                        </p>
                                        <p class="timeline-text">
                                            ⭕ GPA: 8.8.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experience padd-15">
                        <div class="section-title">
                            <h2><span>MY</span> Experience</h2>
                        </div>
                        <div class="row">
                            <div class="timeline-box padd-15">
                                <div class="timeline shadow-dark">
                                    <!-- ==== timeline item ====-->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-date">
                                            <i class="fa fa-calendar"></i>2022 - 2024
                                        </h3>
                                        <h4 class="timeline-title">Front-end Developer</h4>
                                        <p class="timeline-text">
                                            I have 1.5 years of experience as a Front-end developer at Accenture,where I
                                            worked on various projects and gained valuable skills in front-end
                                            development.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!---=== My Experience section end ====-->
        <!---=== Portfoilo section Start ====-->
        <section class="portfolio section" id="projects">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2><span>MY</span> PROJECTS</h2>
                    </div>
                </div>
                <div class="row">
                    <!-- ==== portfolio item start ====-->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <a href=""><img
                                        src="https://res.cloudinary.com/practicaldev/image/fetch/s--2dBpcyyl--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/i/rd575jvknxdiphinwmuj.jpg"
                                        alt="img 1"></a>
                            </div>
                        </div>
                    </div>
                    <!-- ==== portfolio item end ====-->
                    <!-- ==== portfolio item start ====-->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <a href="">
                                    <img src="https://cdn.dribbble.com/users/980634/screenshots/6378581/dribbble_4x.png"
                                        alt=" img 2">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- ==== portfolio item end ====-->
                    <!-- ==== portfolio item start ====-->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <a href=""><img
                                        src="https://s3.amazonaws.com/media.skillcrush.com/skillcrush/wp-content/uploads/2020/07/image4-1-1024x763.jpg"
                                        alt=" img 3"></a>
                            </div>
                        </div>
                    </div>
                    <!-- ==== portfolio item end ====-->
                    <!-- ==== portfolio item start ====-->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <a href="">
                                    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--bMZsYWrR--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/i/p935ob8ei744sp2bedby.jpg"
                                        alt="img 4">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- ==== portfolio item end ====-->
                </div>
            </div>
        </section>
        <!---=== Portfoilo section end ====-->
        <!---=== Contact section Start ====-->
        <section class="contact section" id="contact">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>CONTACT <span>ME</span></h2>
                    </div>
                </div>
                <h3 class="contact-title padd-15">
                    Have You Any Questions ?
                </h3>
                <h4 class="contact-sub-title padd-15">
                    I'M AT YOUR SERVICES
                </h4>
                <div class="row">
                    <!-- === Contact Info item start ==== -->
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <h4>Call Me</h4>
                        <p>+91 9059193334</p>
                    </div>
                    <!-- === Contact Info item end ==== -->
                    <!-- === Contact Info item start ==== -->
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h4>Email</h4>
                        <p>karimullashaik0204&#64;gmail.com</p>
                    </div>
                    <!-- === Contact Info item end ==== -->
                    <!-- === Contact Info item start ==== -->
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
                        <h4>Address</h4>
                        <p>Hyderabad</p>
                    </div>
                    <!-- === Contact Info item end ==== -->
                    <!-- === Contact Info item start ==== -->
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-globe-europe"></i></div>
                        <h4>Website</h4>
                        <p>karimulla-portfolio-app</p>
                    </div>
                    <!-- === Contact Info item end ==== -->
                </div>
                <h3 class="contact-title padd-15">
                    SEND ME AN Email
                </h3>
                <h4 class="contact-sub-title padd-15">
                    I'M VERY RESPONSIVE TO MESSAGES
                </h4>
                <!---=== Contact form start ====-->
                <form action="javascript:void(0)" [formGroup]='form ' (submit)="send()" method="post">
                    <div class="row">
                        <div class="contact-form padd-15">
                            <div class="row">
                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input formControlName="from_name" type="text" class="form-control" name="name"
                                            placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input formControlName="from_email" type="email" class="form-control"
                                            name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input formControlName="moblieno" type="number" class="form-control"
                                            name="number" placeholder="Moblie number">
                                    </div>
                                </div>
                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input formControlName="subject" type="text" class="form-control" name="Subject"
                                            placeholder="Subject">
                                    </div>
                                </div>
                                <div class="form-item col-12 padd-15 ">
                                    <div class="form-group">
                                        <textarea formControlName="message" name="Message" id="" class="form-control"
                                            placeholder="Message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <div class="form-group">
                                        <button type="submit" class="btn">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!---=== Contact form end ====-->
            </div>
        </section>
        <!---=== Contact section end ====-->
        <!---=== footer section start ====-->
        <footer class="footer">
            Copyright © 2024 - Karimulla Shaik
            <div class="follow">
                <a href="https://github.com/Karimullashaik02" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/karimulla-shaik-120b35208?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
                    target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/urs_karimulla_shaik?igsh=MW4zMGdyY3IzZjZrNw%3D%3D&utm_source=qr"
                    target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/shaik.karim.5015?mibextid=LQQJ4d" target="_blank"><i
                        class="fa-brands fa-facebook"></i></a>
            </div>
        </footer>
        <!---=== footer section end ====-->
    </div>
    <!-- ==== main content end ====-->
</div>
<!-- ==== main Container end=== -->